---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* Automatically stretch images in a row */
figure.row-figure-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // spacing between images
  align-items: stretch; // all images match height
}

figure.row-figure-container picture {
  flex: 1 1 auto; // allow images to grow/shrink equally
}

figure.row-figure-container img {
  width: 100%;
  height: 100%;  // match container height
  object-fit: cover; // maintain visual proportion
}
